body {
  background-color:#f2f2f2;
  color: #333;
  font-family: 'inter', 'sans-serif';
  background-image: url("../images/ataberk-guler-HH8D03HHqDI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; 
  margin: 0; 
  background-size: auto 150%;
  
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}

#map { 
  height: 70vh;
  width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ddd;
  border-radius: 10px;
 }

@media (max-width: 768px) {
  #map {
    height: 50vh;
  }
}
